<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button>
    <a th:href="@{/home}">Home</a>
</button>
<hr>
<h2>ADD NEW SONG</h2>
<hr>
<form th:action="@{/save}" method="post" enctype="multipart/form-data" th:object="${songForm}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name"> Name</label>
        <input type="text" id="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label for="singer">Singer</label>
        <input type="text" id="singer" th:field="*{singer}">
        <span th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></span>
    </div>
    <div>
        <label>Category</label>
        <select th:field="*{category}">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>
    <div>
        <label for="link">File</label>
        <input type="file" id="link" th:field="*{link}">
    </div>
    <div>
        <button>Save</button>
    </div>
</form>
</body>
</html>